.endpoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    label {
        font-weight: bold;
        margin-bottom: 1rem;
        color: var(--text-main);
    }
    
    form {
        width: 30vw;
        min-width: 300px;
        display: grid;
        grid-gap: 1rem;

        input {
            background: none;
            display: block;
            height: 3.8rem;
            min-width: 0;
            padding: 1rem;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #d6dadb;
            border-radius: 4px;
            color: var(--text-main);
        }

        button {
            height: 3.2rem;
            padding: 0 1.6rem;
            border: 0;
            border-radius: 4px;

            &[type='submit'] {
                background-color: #ff444f;
                margin-right: 0.5rem;
                color: #fff;
                font-weight: bold;
            }
        }

        .error-message {
            color: #ff444f;
            font-size: 0.8rem;
            text-align: left;
            margin: 0.5rem 0 1rem;
        }
    }
}