.tabs-container {
  &__header > ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    overflow: auto;
    margin-bottom: 0.5px;
   -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  ul::-webkit-scrollbar{
    display: none;
  }
  &__content {
    color: var(--text-main);
  }
}

.tab-title {
  color: var(--text-main);
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;

  &--active {
    border-bottom: 2px solid var(--button-red);
  }
}
