$higher: rgb(5, 104, 5);
$lower: rgb(238, 44, 44);
$neutral: rgb(109, 100, 100);
$disconnected: #ff444f;
$yellow: #ffad3a;

$brand-red-coral: #ff444f;
$brand-disabled-1: #999999;
$brand-disabled-2: #6e6e6e;
$brand-disabled-3: #d6dadb;
$brand-green: #00a79e;
$trade-block-light: #d3d7db;
$trade-block-dark: #3f3b3b;
$border-1: #f2f3f4;
$border-2: #323738;

$text-black: #000000;
$text-white: #ffffff;

// $card-gradient: linear-gradient(90deg, #ff444f 0%, #211d1e 95.22%);
$card-gradient-1: linear-gradient(90deg, #ff444f 0%, #211d1e 95.22%);
// $card-gradient-2: #0e0e0e;
$general-background-1: #0e0e0e;
$card-background-1: rgb(254, 232, 232, 0.2);
$card-background-2: rgba(0, 0, 0, 0.2);

$card-highlight-1: rgb(214, 218, 219);
$card-highlight-2: rgb(50, 55, 56);
$card-background-4: #472f0f;
$card-background-3: antiquewhite;

$overlay-1:rgba(0, 0, 0, 0.753);
$overlay-2:rgba(255, 255, 255, 0.734);
