$higher: rgb(5, 104, 5);
$lower: rgb(238, 44, 44);
$neutral: rgb(109, 100, 100);
$disconnected: #ff444f;

$brand-red-coral: #ff444f;
$brand-disabled-1: #999999;
$brand-disabled-2: #6e6e6e;
$brand-disabled-3: #d6dadb;
$brand-green: #00a79e;

$text-black: #000000;
$text-white: #ffffff;

// $card-gradient: linear-gradient(90deg, #ff444f 0%, #211d1e 95.22%);
$card-gradient-1: linear-gradient(90deg, #ff444f 0%, #211d1e 95.22%);
// $card-gradient-2: #0e0e0e;
$general-background-1: #0e0e0e;
$card-background-1: rgb(254, 232, 232, 0.2);
$card-background-2: rgba(0, 0, 0, 0.2);
