.dc-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--overlay);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    background-color: var(--section-background-1);
    opacity: 1;
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 5px;
    width: 45rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    overflow: scroll;
    position: relative;
    margin: 1rem;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .dc-modal-header {
      text-align: center;
      color: var(--text-main);
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
    }
    .account_list {
      position: relative;
      padding: 0.3rem 1rem;
      list-style-type: none;
      transition: 0.2s;
      color: var(--text-main);

      .selected {
        background-color: var(--card-highlight);
        .account_info {
          div:first-child {
            font-weight: bold;
          }
        }

        .account_balance {
          font-weight: bold;
        }
      }
      .account {
        font-size: var(--text-size-s);
        padding: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 4px;
        margin-bottom: 0.2rem;
        cursor: pointer;

        .account_info {
          display: flex;
          flex-direction: column;
        }
        .account_balance {
          margin-left: auto;
          text-align: right;
        }

        &:hover {
          background-color: var(--card-highlight);
        }

        svg {
          margin-right: 5px;
        }
      }
    }
    .separator {
      border-top: 2px solid var(--border-1);
    }
    .separator-light {
      border-top: 0.5px solid grey;
    }
    .close {
      position: absolute;
      width: 2.5rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      cursor: pointer;
    }
    .close:hover {
      opacity: 1;
    }
    .close:before,
    .close:after {
      position: absolute;
      content: " ";
      height: 0.1rem;
      width: 1.2rem;
      background-color: #333;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
  }
}

.redirect-btn{
      display: flex;
      justify-content: center;
      padding: 1rem 0;
}
