.accordion {
  color: var(--text-main);
  background-color: var(--section-background-1);
  padding: 3px 20px 20px;

  .container {
    position: relative;
    margin: 10px 10px;
  }

  hr {
    width: 100;
    margin-left: 0;
    border: 1px solid var(--border-1);
  }

  .label {
    position: relative;
    padding: 10px 0;
    cursor: pointer;

    &::before {
      content: "+";
      position: absolute;
      top: 50%;
      right: -5px;
      transform: translateY(-50%);
    }
  }

  .content {
    position: relative;
    height: 0;
    text-align: justify;
    overflow: auto;
    transition: 0.5s;
  }

  .active {
    .label::before {
      content: "-";
      font-size: 30px;
    }

    .content {
      height: 150px;
    }
  }
}

.item-list {
  box-shadow: 0 4px 8px 0 var(--section-background-3);
  text-align: center;
  border-radius: 5px;
  float: left;
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.6rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  border: 1px solid grey;
  font-size: 14px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  &--selected {
    background-color: var(--card-highlight);
  }
}

.action {
  gap: 1rem;
  display: flex;
}


.disabled {
  color: var(--text-sub);
  cursor: pointer;
}

.closed {
  border: 1px solid var(--button-red);
  border-radius: 4px;
  color: var(--button-red);
  font-size: 0.5em;
  padding: 4px 3px;
}

.market-title {
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--text-main);
}
