.btn {
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 14px;
  transition: all 0.25s;
  font-weight: bold;
  height: fit-content;
  &:focus,
  &:active {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}
.primary {
  background-color: var(--button-green);
  color: #fff;
  padding: 6px 25px;
  margin-top: 4px;
  border-radius: 5px;

  &:hover {
    background-color: #059862;
  }
}
.secondary {
  color: var(--button-red);
  border: 1px solid var(--button-red);
  background: transparent;
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
  padding: 0.8rem;
}

.tertiary {
  border: 2px solid var(--color-grey-5);
  color: var(--color-black);
  background: var(--trade-block-background);
}
.tertiary_light {
  border: 1px solid var(--button-red);
  display: flex;
  height: fit-content;
  align-items: center;
  padding: 1px 5px;
  &:hover {
    background-color: var(--trade-block-background);
  }
}
.flat {
  background-color: #ff444f;
  margin-right: 0.5rem;
  color: #fff;
  font-weight: 700;
  border: 1px solid var(--button-red);

  &:hover {
    background: rgba(255, 68, 79, 0.08);
  }
}

.trade {
  display: flex;
  height: fit-content;
  align-items: center;
  border-radius: 4px;
  border: 1px solid greenyellow;
  padding: 1px 5px;

  &:hover {
    background-color: var(--trade-block-background);
  }
}

.reset{
  display: block;
  border: 2px solid var(--color-grey-5);
  color: var(--color-black);
  padding: 3px;
  font-size: 10px;
  font-weight:300;
  margin-top: 0.2rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.32;
  color: var(--text-sub);
  cursor: pointer
}
