@import "colors";

table {
  display: flex;
  flex-direction: column;
  position: relative;
}

.data-table {
  .title {
    text-align: start;
    font-size: smaller;
  }
  border-collapse: collapse;
  width: 100%;
  font-size: var(--text-size-s);

  tr {
    display: grid;
    border-top: 1px solid #ddd;
  }

  th,
  .data-table {
    padding: 16px;
  }

  th,
  td {
    line-height: var(--text-lh-m);
  }

  th:first-child,
  td:first-child {
    text-align: start;
  }

  thead {
    tr {
      th:first-child {
        text-align: start;
      }
    }
  }

  td {
    position: relative;
    padding: unset;
  }

  tbody {
    overflow: auto;
    height: calc(100vh - 18.2rem);
  }

  .data-layout {
    z-index: 1;
    position: relative;
    display: grid;
    background-color: var(--section-background-1);
    padding: 16px;
    width: 100%;
    transition: 0.5s;
    align-items: center;
    div:not(:first-child) {
      text-align: center;
    }
    div:last-child {
      display: flex;
      justify-content: end;
    }

    &--fav{
          grid-template-columns: 1.5fr 0.9fr 1fr 0.3fr;
    }
    &--market{
          grid-template-columns: repeat(2,auto)
    }
  }
}