@import "colors";

table {
  display: flex;
  flex-direction: column;
  position: relative;
}

.data-table {
  .title {
    text-align: start;
    font-size: smaller;
  }
  border-collapse: collapse;
  width: 100%;

  tr {
    display: grid;
    background-color: var(--section-background-1);
  }

  thead {
    tr {
      grid-template-columns: 1.5fr 1fr 1fr;
    }
  }

  tbody {
    line-height: var(--text-lh-m);
    tr {
      width: 100%;
      transition: width 0.5s;
      touch-action: pan-x;
      min-height: 46px;
    }
    td {
      align-items: center;
      div:not(:first-child) {
        justify-content: end;
        display: flex;
        padding: 0 8px;
      }
      div:last-child {
        padding: unset;
      }
    }
  }
  th,
  td {
    display: grid;
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: start;
    box-sizing: border-box;
    font-size: var(--text-size-s);
    align-content: center;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    grid-template-columns: 1.5fr 1fr 1fr;

    &:not(:last-child) {
      overflow: hidden;
    }
  }
}

.slider {
  tr {
    z-index: 1;
    position: relative;
  }
  // tr:active {
  //   width: 85%;
  // }
  .active {
    width: 85%;
  }
}

.action-table {
  z-index: 0;
  position: absolute;
  top: 0;

  tr {
    max-height: 46px;
  }
  td {
    grid-template-columns: 1fr;
    justify-items: end;
  }
}

.add {
  background-color: var(--glow-green);
}
.remove {
  background-color: var(--glow-red);
}
