table {
  display: flex;
  flex-direction: column;
  position: relative;
}

.data-table {
  // z-index: 1;
  .title {
    text-align: start;
    font-size: smaller;
  }
  border-collapse: collapse;
  width: 100%;

  tr {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    background-color: var(--section-background-1);
  }

  tbody {
    line-height: var(--text-lh-m);
    tr {
      width: 100%;
      transition: width 0.5s;
      touch-action: pan-x;
      min-height: 46px;
    }
  }
  th,
  td {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: start;
    box-sizing: border-box;
    font-size: var(--text-size-s);
    align-content: center;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  td {
    white-space: nowrap;
    text-overflow: ellipsis;

    &:not(:last-child) {
      overflow: hidden;
    }
  }
}

.slider {
  tr {
    z-index: 1;
    position: relative;
  }
  tr:hover {
    width: 85%;
  }
}

.action-table {
  z-index: 0;
  position: absolute;
  top: 0;

  tr {
    max-height: 46px;
  }
}
