.input-wrapper {
  position: relative;
  width: 100%;
}

.input {
  background: var(--section-background-1);
  color: var(--text-main);
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 0px 10px;
  caret-color: transparent;
  cursor: pointer;
  &::placeholder {
    color: var(--text-main);
  }
}

.overlay {
  position: absolute;
  cursor: pointer;
  top: 0;
  height: 40px;
  width: 100%;
  border-radius: 4px;
}

.arrow-down {
  border: solid var(--text-main);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-left: 0.8rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}
