.wrapper {
    border: 1px solid;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    z-index: 1;
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
}
.item {
    background-color: var(--section-background-1);
    padding: 1rem;
    font-size: 12px;
    color: var(--text-main);
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: var(--row-hover);
    }
}