.input {
        width: 100%;
        border-radius: 4px;
        height: 40px;
        padding: 0px 8px;
        background: var(--section-background-1);
        color: var(--text-main);
        border: none;
        margin: 20px;
}