.logo {
  width: 75px;
}
.themeLogo{
  height: 30px;
  width: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0e0e;
  height: 100px;
}

.topnav_mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--section-background-1);
  color: var(--text-main);
  padding: 0 1em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  min-height: 80px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-1);

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 5;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    font-size: 24px;
    cursor: pointer;
  }

  .menu_button_container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu_toggle {
    display: none;
  }

  .menu_button,
  .menu_button::before,
  .menu_button::after {
    display: block;
    background-color: var(--section-background-4);
    position: absolute;
    height: 2px;
    width: 24px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu_button::before {
    content: "";
    margin-top: -8px;
  }

  .menu_button::after {
    content: "";
    margin-top: 8px;
  }

  #menu_toggle:checked + .menu_button_container .menu_button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu_toggle:checked + .menu_button_container .menu_button {
    background: rgba(255, 255, 255, 0);
  }

  #menu_toggle:checked + .menu_button_container .menu_button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .menu_button_container {
    display: flex;
  }
  .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    z-index: 3;
  }
  #menu_toggle:not(:checked) ~ .menu {
    bottom: unset;
  }
  #menu_toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu_toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 1.5rem 3rem;
    font-size: 1rem;
    position: relative;
    align-items: center;
    transition: height 800ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu_toggle:checked ~ .menu {
    background-color: rgba(0, 0, 0, 0.72);
  }

  .menu > li {
    display: flex;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--text-main);
    background-color: var(--section-background-1);
  }
  .menu > li:last-child {
    border-top: 1px solid var(--border-1);
  }

  .account_info {
    color: var(--button-red);
    border: 1px solid var(--button-red);
    background: transparent;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
  }
  .account_wrapper svg {
    vertical-align: middle;
    margin-left: 0.5rem;
  }
  span {
    padding-left: 10px;
    vertical-align: middle;
  }

  button {
    border: 0;
  }
  .arrow_down {
    border: solid var(--text-main);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 0.8rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.topnav_desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--section-background-1);
  padding: 0 1rem;
  border-bottom: 1px solid var(--border-1);

  .account_wrapper svg {
      vertical-align: middle;
      margin-left: 0.5rem;
  }

  button {
    border: 0;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;

  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--section-background-4);

    &:hover {
      font-weight: bold;
    }

  }

  .account_info {
    color: var(--button-red);
    border: 1px solid var(--button-red);
    background: transparent;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    padding: 0.8rem;
  }
  span {
    padding-left: 10px;
    vertical-align: middle;
  }
  .arrow_down {
    border: solid var(--text-main);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 0.8rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 0.5rem;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme{
  display: flex;
  justify-content: space-around;
  align-items: center;
}