.logo {
  width: 100px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0e0e;
  height: 100px;

}

.topnav_mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #0e0e0e;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 1em;
  border: 1px solid grey;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    font-size: 24px;
  }

  .menu_button_container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu_toggle {
    display: none;
  }

  .menu_button,
  .menu_button::before,
  .menu_button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 2px;
    width: 24px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu_button::before {
    content: "";
    margin-top: -8px;
  }

  .menu_button::after {
    content: "";
    margin-top: 8px;
  }

  #menu_toggle:checked + .menu_button_container .menu_button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu_toggle:checked + .menu_button_container .menu_button {
    background: rgba(255, 255, 255, 0);
  }

  #menu_toggle:checked + .menu_button_container .menu_button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .menu_button_container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu_toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu_toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    font-size: 1rem;
    position: relative;
    align-items: center;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .account_info {
    background: #ff444f;
    color: #ffff;
    font-weight: bold;
    border: none;
    padding: 8px;
    border-radius: 10px;
  }
  span {
    padding-left: 10px;
  }
  .arrow_down {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.topnav_desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #0e0e0e;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 1em;
  border: 1px solid grey;
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    font-size: 24px;
  }
  .account_info {
    background: #ff444f;
    color: #ffff;
    font-weight: bold;
    border: none;
    width: 300px;
    padding: 8px;
    border-radius: 10px;
  }
  span {
    padding-left: 10px;
  }
  .arrow_down {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #28292c;
  align-self: center;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

// .switch input {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #28292c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  border: 1px solid yellow;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #28292c;
    border-radius: 50%;
    box-shadow: inset 11px 0px 0px 0px #d8dbe0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input:checked + .slider {
  background-color: #d8dbe0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #28292c;
  box-shadow: none;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
