.card-alignment {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.open-position {
  display: grid;
  border-bottom: 1px solid #f2f3f4;
  transition: 0.3s;
  grid-template-areas:
    "type time"
    "ref currency"
    "buy indicative"
    "payout profit";
  padding: 0.5rem;
  box-sizing: border-box;
  color: var(--text-main);
  gap: 1rem;
  margin: 1rem;
  font-size: var(  --text-size-m);
}

.type {
  grid-area: type;
}

.time {
  grid-area: time;
  @extend .card-alignment;
}

.ref-id {
  grid-area: ref;
  @extend .card-alignment;
}

.market {
  grid-area: market;
  @extend .card-alignment;
}

.trade-type {
  grid-area: trade-type;
  @extend .card-alignment;
}

.ref-id {
  grid-area: ref;
  @extend .card-alignment;
}

.currency_open_positions{
  grid-area: currency;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  @extend .card-alignment;
}

.currency {
  grid-area: currency;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  @extend .card-alignment;
}

.buy {
  grid-area: buy;
  @extend .card-alignment;
}

.indicative {
  grid-area: indicative;
  @extend .card-alignment;
}

.payout {
  grid-area: payout;
  @extend .card-alignment;
}

.profit {
  grid-area: profit;
  @extend .card-alignment;
}

.no-list {
  top: 40%;
  position: relative;
  box-sizing: border-box;
  margin: 1rem;
  border-radius: 8px;
}

.statement {
  grid-template-areas:
    "market trade-type"
    "trans currency"
    "date credit"
    "btext bvalue";
}

.trans-id {
  grid-area: trans;
  @extend .card-alignment;
}

.date-time {
  grid-area: date;
  @extend .card-alignment;
}

.credit {
  grid-area: credit;
  @extend .card-alignment;
}

.balance {
  &--text {
    grid-area: btext;
    @extend .card-alignment;
  }

  &--value {
    grid-area: bvalue;
    @extend .card-alignment;
  }
}

.action {
  border-radius: 5px;
  border: 1px solid var(--button-green);
  color: var(--button-green);
  width: fit-content;
  padding: 0.5rem;
  font-size: 10px;

  &--buy {
    border: 1px solid var(--button-red);
    color: var(--button-red);
  }

  &--hold {
    border: 1px solid var(--button-yellow);
    color: var(--button-yellow);
  }
}

.profit-value {
  color: var(--button-green);
}

.loss-value {
  color: var(--button-red);
}

.sell{
  display: flex;
  flex-direction: column;
}