.ticks {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.title {
  font-weight: bold;
}

.progress_container {
  display: flex;
  width: 100%;
  height: 8px;
}

.progress_bar_bg {
  background: var(--slider-progress-bg);
}

.progress_bar {
  display: flex;
  width: 100%;
}

.progress_bar_reversed {
  flex-direction: row-reverse;
}

.progress_bar_curved_border_left {
  border-radius: 6px 0px 0px 6px;
}

.progress_bar_curved_border_right {
  border-radius: 0px 6px 6px 0px;
}

.progress_bar_bearish {
  background: var(--slider-progress-red);
  border-left: 2px solid;
}

.progress_bar_bullish {
  background: var(--slider-progress-green);
  border-right: 2px solid;
}

.arrow_down {
  border: solid var(--slider-progress-red);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-right: 10px;
}

.arrow_up {
  border: solid var(--slider-progress-green);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-left: 10px;
}

.indicator_container {
  display: flex;
  justify-content: space-between;
}

.indicator_text {
  font-size: small;
  margin: 0px 4px;
}
