@import "colors";

:host,
:root {
  .theme-light {
    --button-red: #{$brand-red-coral};
    --button-disabled: #{$brand-disabled-1};
    --button-green: #{$brand-green};
    --text-main: #{$text-black};
    --text-sub: #{$brand-disabled-1};
    --section-background-1: #{$text-white};
    --section-background-2: #{$card-gradient-1};
  }

  .theme-dark {
    --button-red: #{$brand-red-coral};
    --button-disabled: #{$brand-disabled-1};
    --button-green: #{$brand-green};
    --text-main: #{$text-black};
    --text-sub: #{$brand-disabled-1};
    --section-background-1: #{$text-white};
    --section-background-2: #{$card-gradient-2};
  }
}
