@import "colors";

:host,
:root {
  // Text sizes
  --text-size-xs: 0.6rem;
  --text-size-s: 0.8rem;
  --text-size-m: 1rem;
  --text-size-l: 1.2rem;

  //Line height
  --text-lh-m: 1.2rem;

  .theme-light {
    --button-red: #{$brand-red-coral};
    --glow-red: #{$brand-red-coral-2};
    --button-disabled: #{$brand-disabled-1};
    --button-green: #{$brand-green};
    --glow-green: #{$brand-green-2};
    --button-yellow: #{$yellow};
    --text-main: #{$text-black};
    --text-sub: #{$brand-disabled-2};
    --section-background-1: #{$text-white};
    --section-background-2: #{$card-gradient-1};
    --section-background-3: #{$card-background-2};
    --section-background-4: #{$general-background-1};
    --card-highlight: #{$card-highlight-1};
    --trade-block-background: #{$trade-block-light};
    --report-card-background: #{$card-background-3};
    --overlay: #{$overlay-1};
    --border-1: #{$border-1};
    --row-hover: #{$brand-disabled-1};
    --loader: #{$accent-blue-1};
    --text-secondary: #{$text-white};
    --trade-parameter-background: #{$trade-parameter-light};
    --banner-background: #{$color-grey-2};
    --payout-rise-background: #{$color-green-1};
    --rise-background: #{$color-green-2};
    --payout-fall-background: #{$color-red-1};
    --fall-background: #{$color-red-2};
    --placeholder-text: #{$brand-disabled-2};
    --slider-progress-bg: #{$slider-progress-bg-1};
    --slider-progress-red: #{$brand-red-coral};
    --slider-progress-green: #{$brand-green};
  }

  .theme-dark {
    --button-red: #{$brand-red-coral};
    --glow-red: #{$brand-red-coral-2};
    --button-disabled: #{$brand-disabled-1};
    --button-green: #{$brand-green};
    --glow-green: #{$brand-green-2};
    --button-yellow: #{$yellow};
    --text-main: #{$text-white};
    --text-sub: #{$brand-disabled-3};
    --section-background-1: #{$general-background-1};
    --section-background-2: #{$card-gradient-1};
    --section-background-3: #{$card-background-1};
    --section-background-4: #{$text-white};
    --card-highlight: #{$card-highlight-2};
    --trade-block-background: #{$trade-block-dark};
    --report-card-background: #{$card-background-4};
    --overlay: #{$overlay-1};
    --border-1: #{$border-2};
    --overlay: #{$overlay-2};
    --row-hover: #{$color-grey-7};
    --loader: #{$accent-blue-2};
    --text-secondary: #{$text-black};
    --trade-parameter-background: #{$trade-block-dark};
    --banner-background: #{$color-grey-1};
    --payout-rise-background: #{$color-green-1};
    --rise-background: #{$color-green-2};
    --payout-fall-background: #{$color-red-1};
    --fall-background: #{$color-red-2};
    --placeholder-text: #{$brand-disabled-1};
    --slider-progress-bg: #{$slider-progress-bg-2};
    --slider-progress-red: #{$brand-red-coral};
    --slider-progress-green: #{$brand-green};
  }
}

* {
  box-sizing: border-box;
}
