@import "colors";

:host,
:root {
  .theme-light {
    --button-red: #{$brand-red-coral};
    --button-disabled: #{$brand-disabled-1};
    --button-green: #{$brand-green};
    --button-yellow: #{$yellow};
    --text-main: #{$text-black};
    --text-sub: #{$brand-disabled-2};
    --section-background-1: #{$text-white};
    --section-background-2: #{$card-gradient-1};
    --section-background-3: #{$card-background-2};
    --section-background-4: #{$general-background-1};
    --card-highlight: #{$card-highlight-1};
    --trade-block-background: #{$trade-block-light};
    --report-card-background: #{$card-background-3};
    --overlay:#{$overlay-1};
  }

  .theme-dark {
    --button-red: #{$brand-red-coral};
    --button-disabled: #{$brand-disabled-1};
    --button-green: #{$brand-green};
    --button-yellow: #{$yellow};
    --text-main: #{$text-white};
    --text-sub: #{$brand-disabled-3};
    --section-background-1: #{$general-background-1};
    --section-background-2: #{$card-gradient-1};
    --section-background-3: #{$card-background-1};
    --section-background-4: #{$text-white};
    --card-highlight: #{$card-highlight-2};
    --trade-block-background: #{$trade-block-dark};
    --report-card-background: #{$card-background-4};
    --overlay:#{$overlay-1};
  }
}

* {
  box-sizing: border-box;
}
