@import "colors";

.card {
  color: var(--text-main);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 8px;
  margin: 1rem;
  &--title {
    display: flex;
    justify-content: space-between;

    &-name {
      font-size: large;
      font-weight: bold;
    }

    &-symbol {
      font-size: medium;
      font-weight: bold;
      color: var(--text-sub);
      font-style: italic;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;

    .market {
      &-info {
        font-size: small;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin: 6px 0;

        &-data {
          margin: 4px 0;
        }
      }

      &-value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 0.5rem;
      }
    }
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.badge {
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;

  &--increase {
    background-color: var(--button-green);
  }

  &--decrease {
    background-color: var(--button-red);
  }

  &--same {
    background-color: $neutral;
  }
}

.badge-align {
  width: 80%;
}

.text {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &--increase {
    color: $higher;
  }

  &--decrease {
    color: $lower;
  }

  &--same {
    color: $neutral;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid green;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f00;
}

.fav-icon-position {
  margin-right: 0.4rem;
}
