.ease {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tabs {
  position: relative;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.effect-3 .line {
  background: #ff444f;
  width: 50%;
  height: 4px;
  position: absolute;
  top: 56px;
}

.tabs input,
.tabs span {
  width: 50%;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 0;
}

.tabs input {
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 1;
  margin: unset;
}

.tabs span {
  background: var(--section-background-1);
  color: var(--text-main);
  text-align: center;
  overflow: hidden;
}

.tabs span i,
.tabs span {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tabs input:hover + span {
  background: rgba(255, 255, 255, 0.1);
}

.tabs input:checked + span {
  background: var(--section-background-1);
}

.tabs input:checked + span,
.tabs input:hover + span {
  font-weight: bold;
}

.tab-1,
.tab-1 + span {
  left: 0;
}

.tab-2,
.tab-2 + span {
  left: 50%;
}

.tab-content {
  padding: 80px 0 20px;
  width: 100%;
  color: var(--text-main);
}

.tab-content section {
  width: 100%;
  display: none;
}

.tab-content section h1 {
  margin-top: 15px;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
}

.tab-1:checked ~ .tab-content .tab-item-1 {
  display: block;
}

.tab-2:checked ~ .tab-content .tab-item-2 {
  display: block;
}

.tab-1:checked ~ .line {
  left: 0;
}

.tab-2:checked ~ .line {
  left: 50%;
}
