html, body {
  height: 100%;
}

.App {
  text-align: center;
  height: calc(100vh - 52px);
}

.logo {
  margin-left: 1rem;
}

.header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #0e0e0e;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
}

footer {
  border-top: 1px solid #f2f3f4;
  bottom: 0;
  box-sizing: border-box;
  color: #333;
  justify-content: flex-end;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 3;
}

a {
  color: #ff444f;
  text-decoration: none;
}

.login {
  margin: 0 1rem;
  color: #ff444f;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
