@import "./styles/colors";

html,
body {
  height: 100%;
  color: var(--text-main);
  background-color: var(--section-background-1);
}

.App {
  text-align: center;
  height: calc(100vh - 52px);
}

.logo {
  margin-left: 1rem;
}

.header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #0e0e0e;
  // position: fixed;
  top: 0;
  width: 100%;
  display: flex;

  > div {
    margin: 0 1rem;
    color: $disconnected;
  }
}

.banner {
  position: fixed;
  top: 5rem;
  left: 50%;
  z-index: 9;

  .caret {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid $disconnected;
    position: relative;
  }

  .disconnected {
    position: relative;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    background-color: $disconnected;
    color: #fff;
    text-align: left;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-animation: blink normal 1.5s infinite ease-in-out;
    /* Firefox */
    -webkit-animation: blink normal 1.5s infinite ease-in-out;
    /* Webkit */
    -ms-animation: blink normal 1.5s infinite ease-in-out;
    /* IE */
    animation: blink normal 1.5s infinite ease-in-out;
    /* Opera */
    right: 40%;
  }
}

footer {
  background-color: var(--section-background-1);
  border-top: 1px solid #f2f3f4;
  bottom: 0;
  box-sizing: border-box;
  justify-content: flex-end;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 3;
  color: var(--text-main);
}

a {
  color: $disconnected;
  text-decoration: none;
}

@keyframes blink {
  0% {
    background-color: rgba(255, 0, 0, 1);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(255, 0, 0, 1);
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: rgba(255, 0, 0, 1);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(255, 0, 0, 1);
  }
}

.content {
  height: calc(100% - 80px);
  background-color: var(--section-background-1);
  overflow: auto;
}
.is-acc-switcher-open {
  opacity: 0;
}
