.trading-layout {
  color: var(--text-main);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--trade-parameter-background);
  width: 100%;
  margin: 10px auto;
  padding: 10px;
}

@mixin dropdown-mixin {
  color: var(--text-main);
  background-color: var(--section-background-1);
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  height: 40px;
}

@mixin wrapper-mixin {
  width: 100%;
  border-radius: 4px;
  color: var(--text-secondary);
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}

@mixin error-mixin {
  color: var(--button-red);
  margin-right: auto;
  font-size: small;
  font-weight: bold;
  display: flex;
}

.duration-dropdown {
  @include dropdown-mixin();
  margin: 10px;
}

.trade-type-dropdown {
  @include dropdown-mixin();
}

.button {
  display: flex;
  flex: 1 0 50%;
  width: 100%;
  margin: 10px 10px 0px 10px;

  button {
    padding: 15px;
    width: 100%;
    border: none;
    
      &:nth-child(1) {
        border-radius: 4px 0px 0px 4px;
      }
      &:nth-child(2) {
        border-radius: 0px 4px 4px 0px;
      }


  }
}

.stake-payout {
  :hover {
    cursor: pointer;
  }

  &__button {
    background-color: var(--section-background-1);
    color: var(--text-main);
    font-weight: bold;
  }
  &--selected {
    background-color: var(--row-hover);
    color: var(--text-main);
  }
}

.slider {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

  input[type="range"] {
    width: 100%;
    margin: 0 20px;
  }
}

.buy-sell {
  gap: 10px;
  &__stake-payout {
    font-size: small;
    font-weight: 300;
    padding-bottom: 8px;
    @media (max-width: 768px) {
      font-size: 10px;
    }

    &--strong {
      font-weight: bold;
    }
  }
  &__buy {
    background-color: var(--rise-background);
    cursor: pointer;
    font-weight: bold;
    color: var(--text-secondary);

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__sell {
    background-color: var(--fall-background);
    cursor: pointer;
    font-weight: bold;
    color: var(--text-secondary);

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__buy-wrapper
  {
    @include wrapper-mixin();
    background-color: var(--payout-rise-background);
  }

  &__sell-wrapper {
    @include wrapper-mixin();
    background-color: var(--payout-fall-background);
  }
}

.amount {
  width: 100%;
  margin: 10px auto 0px auto;
  align-items: center;
  display: flex;
  gap: 10px;

  &__input {
    width: 90%;
    height: 40px;
    padding: 0 10px;
    color: var(--text-main);
    background-color: var(--section-background-1);
    border: none;
    border-radius: 4px;
  }
  p{
    color: var(--text-main);
      background-color: var(--section-background-1);
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0px 6px;
      border-radius: 4px;
      margin: 0px;
  }
}


.duration {
  &__input {
    width: 100%;
    margin: 10px auto 0px auto;
    height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
    color: var(--text-main);
    background-color: var(--section-background-1);
    border: none;
    border-radius: 4px;
  }
}

.error-message {
@include error-mixin();
}

.error-proposal {
  @include error-mixin();
  font-weight: normal;
  margin-top: 10px;
}

.no-error {
  @include error-mixin();
  margin-top: 10px;
  font-weight: normal;
  color: var(--placeholder-text);
  float: left;
}

.select-trade {
  flex-basis: 60%;
  color: var(--text-main);
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;

  select {
    flex-basis: 50%;
  }
}

.trade-flex-layout {
  display: flex;
  width: 100%;

  &__trade {
    flex-basis: 60%;
    padding: 0 20px 20px;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.container {
  display: grid;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  justify-content: center;
  border: 1px solid var(--button-green);
  border-radius: 5px;
  grid-template-columns: repeat(2, 1fr);
}

.market {
  &-text {
    color: var(--text-main);
  }
  &-tick {
    display: flex;
    gap: 1rem;
  }
}

.tick-layout {
  display: flex;
}

.allow-equals {
  width: 100%;
  text-align: left;
  font-size: small;
  margin-top: 10px;

  input[type="checkbox"] {
    accent-color: var(--button-red);
  }
  label {
    color: var(--text-main);
  }
}

.wrapper {
  width: 100%;
  position: relative;
}
