.trading-layout {
  color: var(--text-main);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--trade-block-background);
  width: 100%;
  margin: 10px auto;
  padding: 10px;

  @media (max-width: 768px) {
    width: 90%;
  }
}

@mixin dropdown-mixin {
  color: var(--text-main);
  background-color: var(--section-background-1);
  padding: 10px;
  width: 100%;
  height: 40px;
}

.duration-dropdown {
  @include dropdown-mixin();
  margin: 10px;
}

.trade-type-dropdown {
  @include dropdown-mixin();
}

.button {
  display: flex;
  flex: 1 0 50%;
  gap: 10px;
  width: 100%;

  button {
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border: 1px solid;
    border: none;
  }
}

.stake-payout {
  :hover {
    cursor: pointer;
  }

  &--selected {
    background-color: #939797;
  }
}

.slider {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

  input[type="range"] {
    width: 100%;
    margin: 0 20px;
  }
}

.buy-sell {
  &__stake-payout {
    font-size: small;
    font-weight: 300;

    &--strong {
      font-weight: bold;
    }
  }
  &__buy {
    background-color: #3d9494;
    cursor: pointer;

    &--disabled {
      background-color: #88a4a4;
      color: var(--text-main);
      cursor: not-allowed;
    }
  }

  &__sell {
    background-color: #d33636;
    color: var(--text-main);
    cursor: pointer;

    &--disabled {
      background-color: #af7e7e;
      cursor: not-allowed;
    }
  }

  &__buy-wrapper,
  &__sell-wrapper {
    width: 100%;
    text-align: initial;
  }
}

.amount {
  width: 100%;
  margin: 10px auto;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;

  &__input {
    width: 90%;
    height: 30px;
    padding: 0 10px;
    color: var(--text-main);
    background-color: var(--section-background-1);
    border: 0.5px solid;
  }
}

.duration {
  &__input {
    width: 100%;
    margin: 10px auto;
    height: 35px;
    box-sizing: border-box;
    padding: 0 10px;
    color: var(--text-main);
    background-color: var(--section-background-1);
    border: 0.5px solid;
  }
}

.error-message {
  color: #d33636;
  margin-right: auto;
  line-height: 12px;
  font-size: small;
}

.select-trade {
  flex-basis: 60%;
  color: var(--text-main);
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;

  select {
    flex-basis: 50%;
  }
}

.trade-flex-layout {
  display: flex;
  width: 100%;

  &__accordion {
    flex-basis: 40%;
  }

  &__trade {
    flex-basis: 60%;
    padding: 20px;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

.container {
  display: flex;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  gap: 2rem;
  justify-content: center;
  border: 1px solid red;
}

.market-tick {
  display: flex;
  gap: 1rem;
}
